<!-- views/add-person.hbs -->

{{> header}}

<body>
    <div class="container">
        <h2>Add Person</h2>
        <form action="/add-person" method="post">
            <label for="personName">Person Name:</label>
            <input type="text" id="personName" name="personName" required>
            <br>

            <input type="submit" value="Add Person">
        </form>

        <a href="/">Back to Home</a>
    </div>
</body>
</html>
