<!DOCTYPE html>
<html lang="en">
{{> header}}

<body>
    {{#if user}}
        <!-- User is logged in, show logout button -->
        <p>Welcome, {{user}}!</p>
        <a href="/transaction">Transaction History</a>
        <form action="/logout" method="get">
            <input type="submit" value="Logout">
        </form>
    {{else}}
        <!-- User is not logged in, show login button -->
        <p>You are not logged in. Please log in.</p>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    {{/if}}
    <!-- Main content of the page -->
</body>

</html>
