<!DOCTYPE html>
<html lang="en">
{{!-- {{> header}} --}}

<body>
    <!-- views/index.hbs -->
    <h1>Welcome{{#if user}}, {{user}}{{/if}}!</h1>
    <p><a href="/register">Register</a> or <a href="/login">Login</a></p>
    <p><a href="/logout">Logout</a></p>
</body>

</html>