<!DOCTYPE html>
<html lang="en">
{{!-- {{> header}} --}}

<body>
    <!-- views/register.hbs -->
    <h2>Register</h2>
    <form action="/register" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <input type="submit" value="Register">
    </form>
</body>

</html>