<nav>
    <ul class="navlist">
       <a href="/"><li class="listitem">CashFlowMate</li></a> 
        <a href="/see-transactions"><li class="listitem">Transactions</li></a>
        <a href="/history"><li class="listitem">History</li></a>
        <a href="/aboutMe"><li class="listitem">AboutMe</li></a>
    </ul>
</nav> 